/*****
* IMPORT @ CUSTOM FONTS FOR DESIGN IMPLEMENTATION
****/
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@500&family=Inria+Sans:wght@700&family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   scroll-behavior: smooth;
}

.main-container {
   background: radial-gradient(circle at 20% 40%, #580355, #000000, transparent 100%),
   radial-gradient(circle at 60% 10%, #ef15e8, #000000 100%), 
   radial-gradient(circle at 30% 20%, #ef15e8, #000000 100%), 
   radial-gradient(circle at 2% 60%, #ef15e8, #000000 100%), 
   radial-gradient(circle at 59% 93%, #580355, #000000 30%), 
   radial-gradient(circle at 0% 64%, #580355, #000000 100%);
   min-height: 100% ;
   height: 100% ;
   background-repeat: no-repeat;
   overflow-x: hidden; 
}

.accordion {
   background: radial-gradient(circle at 0% 20%, #580355, #000000, transparent 100%);
}

.main-banner{
   background: radial-gradient(circle at 0% 20%, #580355, #000000, transparent 100%),
               radial-gradient(circle at 100% 100%, #580355, #000000, transparent 100%);
}


.btn-large{
   background: #ffff;
   padding : 7px 20px;
   border-radius: 17px;
   color: #8c1088;
   outline: none;
   font-family: 'Anek Malayalam', sans-serif ;
   letter-spacing: 1px;
   transition-duration: .4s ;
   overflow: hidden ;
   position: relative ;
   box-shadow: 0 5px 15px #193047 ;
}

.btn-large:hover {
   box-shadow: 0px 2px 10px 5px #07483b;
   color: #000;
}

.btn-large:after {
   content: "";
   background: #8c1088;
   display: block;
   position: absolute;
   padding-top: 300%;
   padding-left: 350%;
   margin-left: -20px !important;
   margin-top: -120%;
   opacity: 0;
   transition: all 0.8s; 
   font-size: 20px;
}

.btn-large:active:after {
   padding: 0;
   margin: 0;
   opacity: 1;
   transition: 0s
}

.btn-large:focus{
   border: none;
   outline: none;
}

.btn-large.btn-small {
   background: #ffff;
   padding : 7px 20px;
   border-radius: 17px;
   color: #8c1088;
   outline: none;
   font-family: 'Anek Malayalam', sans-serif ;
   letter-spacing: 1px;
   transition-duration: .4s;
   overflow: hidden;
   position: relative;
   box-shadow: 0 5px 15px #193047;
}

/* 
Remove the defalt style for the scroll bar
*/
::-webkit-scrollbar {
   width: 10px;
   background:#8c1088;
}
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgb(189, 198, 201); 
   border-radius: 17px;
}
::-webkit-scrollbar-thumb {
   border-radius: 17px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
   background:#360434;
} 
